/*==========================================*/
/*============PARAMETRES GENERAUX===========*/
/*==========================================*/

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  color: black;
  margin: 0;
}

#blocpage {
  width: 100%;
  max-width: 1440px;
  min-width: 375px;
  margin: auto;
  font-size: 15px;
}

header {
  width: 93%;
  max-width: 1340px;
  margin: auto;
}

main {
  width: 93%;
  max-width: 1340px;
  margin: auto;
}

footer {
  width: 100%;
  max-width: 1440px;
  min-width: 375px;
  margin: auto;
}

.blocpage_hebergements_marseille,
.blocpage_populaires,
footer {
  background-color: #f2f2f2;
}

.fas {
  color: #0065fc;
  font-size: 0.7em;
}

a,
ul {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

/*==========================================*/
/*================BLOC HEADER===============*/
/*==========================================*/

/*********Zone Logo et Navigateur ***********/

.logo_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 95px;
  align-items: flex-end;
}

.logo img {
  width: 95px;
}

nav {
  width: 420px;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

/*****************Zone liens*****************/

.heberg,
.sinscrire {
  color: #0065fc;

  padding-right: 25px;
  padding-left: 25px;
  margin: 0;
  font-size: 1rem;
}

.heberg {
  padding-top: 50px;
}

.activ {
  text-decoration: none;
  color: black;
  padding-top: 50px;
  padding-right: 25px;
  padding-left: 25px;
  margin: 0;
}

.sinscrire {
  font-weight: bold;
}

.activ:hover,
.heberg:hover {
  color: #0065fc;
  border-top: 3px #0065fc solid;
}

/*==========================================*/
/*======SECTION PARAMETRES ET CHOIX=========*/
/*==========================================*/

/*********Titre et description**************/

.zone_Titre_description {
  margin-top: 30px;
}
.zone_Titre_description h1 {
  margin-left: 0;
  margin-bottom: 0px;
  font-weight: bold;
}

.zone_Titre_description p {
  font-weight: normal;
  margin: 10px 0 15px 0;
  font-size: 1rem;
}
